* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
/* START PAGE */

main > section.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section.start h1 {
  font-family: "Karla", sans-serif;
  margin-bottom: 0.8rem;
  color: #293264;
}

main > section.start p {
  color: #293264;
  margin-bottom: 1.5rem;
}

main > section.start > button {
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 16px;
  border-radius: 15px;
  padding: 0.8rem 3.5rem;
}

/* QUESTIONS PAGE */

main > section > .quiz-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #293264;
  border-bottom: #dbdef0 solid 1px;
}

main > section > .quiz-content p {
  color: #293264;
  letter-spacing: 1.1px;
  margin-block: 1.5rem;
}

main > section > .quiz-content section.answers {
  display: flex;
  gap: 1rem;
}

main > section > .quiz-content button {
  color: #293264;
  font-size: 0.9rem;
  border: #4d5b9e 1px solid;
  padding: 0.2rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: transparent;
}

main > section > .quiz-content section.answers .selected {
  background-color: #d6dbf5;
}

main > section > .quiz-content section.answers .correct {
  background-color: #94d7a2;
}

main > section > .quiz-content section.answers .incorrect {
  background-color: #f8bcbc;
}

.correct-answer {
  color: #f3722c;
  font-size: 0.8rem;
  font-weight: 400;
}

.check-answers {
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-weight: 400;
  padding: 10px 21px;
  margin-top: 1.5rem;
  border-radius: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* BACKGROUND GEOMETRIC SHAPES */

.upper-geometric-shape {
  height: 235px;
  width: 297px;
  background-color: #fffad1;
  border-bottom-left-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px;
  position: fixed;
  top: -20px;
  right: -100px;
  transform: rotate(45deg);
  z-index: -10;
}

.lower-geometric-shape {
  height: 235px;
  width: 297px;
  background-color: #deebf8;
  border-top-right-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px;
  position: fixed;
  bottom: -140px;
  left: -100px;
  transform: rotate(-50deg);
  z-index: -10;
}
